<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Crime Data</a>

**NOTE**: For the learners who are encountering issues with loading from .csv in DB2 on Firefox, you can download the .txt files and load the data with those:

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [1]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [2]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://pkr18291:nGm4WHLJtR3IlUUO@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb?security=SSL

'Connected: pkr18291@bludb'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql select count(primary_type) as total_number_of_crimes from chicago_crime_data

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [30]:
%sql select community_area_name, per_capita_income from census_data where per_capita_income<11000

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [76]:
%sql select case_number from chicago_crime_data where description like '%MINOR%'

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [59]:
%sql select primary_type, case_number from chicago_crime_data where primary_type= 'KIDNAPPING'

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[('KIDNAPPING', 'HN144152')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [60]:
%sql select distinct(primary_type), location_description from chicago_crime_data where location_description like '%SCHOOL%'

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[('PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]

### Problem 6

##### List the average safety score for each type of school.

In [74]:
%sql select name_of_school, safety_icon, safety_score from chicago_public_schools where safety_icon like '%Average%'

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[('Adam Clayton Powell Paideia Community Academy Elementary School', 'Average', 54),
 ('Agustin Lara Elementary Academy', 'Average', 56),
 ('Air Force Academy High School', 'Average', 49),
 ('Alessandro Volta Elementary School', 'Average', 43),
 ('Alexander Graham Elementary School', 'Average', 49),
 ('Alice L Barnard Computer Math & Science Center Elementary School', 'Average', 46),
 ('Al Raby High School', 'Average', 52),
 ('Ambrose Plamondon Elementary School', 'Average', 45),
 ('Ana Roque de Duprey Elementary School', 'Average', 57),
 ('Andrew Carnegie Elementary School', 'Average', 48),
 ('A.N. Pritzker School', 'Average', 59),
 ('Arthur Dixon Elementary School', 'Average', 47),
 ('Ashburn Community Elementary School', 'Average', 48),
 ('Benito Juarez Community Academy High School', 'Average', 46),
 ('Bernhard Moos Elementary School', 'Average', 50),
 ('Beulah Shoesmith Elementary School', 'Average', 45),
 ('Brighton Park Elementary School', 'Average', 55),
 ('Bronzeville Scholastic Academy High School', 'Average', 41),
 ('Burnside Elementary Scholastic Academy', 'Average', 51),
 ('Calmeca Academy of Fine Arts and Dual Language', 'Average', 58),
 ('Carl Schurz High School', 'Average', 48),
 ('Carrie Jacobs Bond Elementary School', 'Average', 54),
 ('Cesar E Chavez Multicultural Academic Center Elementary School', 'Average', 54),
 ('Charles Allen Prosser Career Academy High School', 'Average', 59),
 ('Charles Evans Hughes Elementary School', 'Average', 42),
 ('Charles Gates Dawes Elementary School', 'Average', 44),
 ('Charles G Hammond Elementary School', 'Average', 40),
 ('Charles N Holden Elementary School', 'Average', 53),
 ('Charles R Darwin Elementary School', 'Average', 58),
 ('Charles S Deneen Elementary School', 'Average', 55),
 ('Charles Sumner  Math & Science Community Acad Elementary School', 'Average', 41),
 ('Chicago Academy High School', 'Average', 58),
 ('Columbia Explorers Elementary Academy', 'Average', 59),
 ('Crispus Attucks Elementary School', 'Average', 45),
 ('Daniel Boone Elementary School', 'Average', 52),
 ('Daniel Hale Williams Prep School of Medicine', 'Average', 50),
 ('Daniel R Cameron Elementary School', 'Average', 42),
 ('Daniel Webster Elementary School', 'Average', 48),
 ('David G Farragut Career Academy High School', 'Average', 43),
 ('Dewey Elementary Academy of Fine Arts', 'Average', 41),
 ('DeWitt Clinton Elementary School', 'Average', 47),
 ('Dunne Technology Academy', 'Average', 46),
 ('Dvorak Technology Academy', 'Average', 46),
 ('Edward Beasley Elementary Magnet Academic Center', 'Average', 47),
 ('Edward Jenner Elementary Academy of the Arts', 'Average', 50),
 ('Elaine O Goodlow Elementary Magnet School', 'Average', 44),
 ('Eli Whitney Elementary School', 'Average', 44),
 ('Elizabeth Peabody Elementary School', 'Average', 51),
 ('Eugene Field Elementary School', 'Average', 42),
 ('Everett McKinley Dirksen Elementary School', 'Average', 44),
 ('Federico Garcia Lorca Elementary School', 'Average', 53),
 ('Ferdinand Peck Elementary School', 'Average', 51),
 ('Francisco I Madero Middle School', 'Average', 49),
 ('Frank I Bennett Elementary School', 'Average', 46),
 ('Frank W Gunsaulus Elementary Scholastic Academy', 'Average', 46),
 ('Frank W Reilly Elementary School', 'Average', 48),
 ('Frederick A Douglass Academy High School', 'Average', 44),
 ('George Armstrong International Studies Elementary School', 'Average', 59),
 ('George B McClellan Elementary School', 'Average', 49),
 ('George Manierre Elementary School', 'Average', 43),
 ('George M Pullman Elementary School', 'Average', 59),
 ('George Washington Carver Military Academy High School', 'Average', 53),
 ('George Washington Elementary School', 'Average', 58),
 ('George Washington High School', 'Average', 46),
 ('Gerald Delgado Kanoon Elementary Magnet School', 'Average', 44),
 ('Graeme Stewart Elementary School', 'Average', 49),
 ('Greater Lawndale High School For Social Justice', 'Average', 43),
 ('Gurdon S Hubbard High School', 'Average', 42),
 ('Helen Peirce International Studies Elementary School', 'Average', 58),
 ('Helge A Haugan Elementary School', 'Average', 43),
 ('Henry H Nash Elementary School', 'Average', 41),
 ('Henry R Clissold Elementary School', 'Average', 45),
 ('Horatio May Elementary Community Academy', 'Average', 42),
 ('Ida B Wells Preparatory Elementary Academy', 'Average', 49),
 ('Infinity Math Science and Technology High School', 'Average', 58),
 ('Irma C Ruiz Elementary School', 'Average', 57),
 ('Irvin C Mollison Elementary School', 'Average', 44),
 ('Jacqueline B Vaughn Occupational High School', 'Average', 57),
 ('James B Farnsworth Elementary School', 'Average', 55),
 ('James Monroe Elementary School', 'Average', 45),
 ('James Ward Elementary School', 'Average', 49),
 ('Jane Addams Elementary School', 'Average', 56),
 ('Jane A Neil Elementary School', 'Average', 42),
 ('Jean D Lafayette Elementary School', 'Average', 44),
 ('John B Drake Elementary School', 'Average', 59),
 ('John Calhoun North Elementary School', 'Average', 52),
 ('John C Burroughs Elementary School', 'Average', 50),
 ('John F Eberhart Elementary School', 'Average', 42),
 ('John F Kennedy High School', 'Average', 53),
 ('John Foster Dulles Elementary School', 'Average', 42),
 ('John Hancock College Preparatory High School', 'Average', 51),
 ('John Harvard Elementary School of Excellence', 'Average', 51),
 ('John Hay Elementary Community Academy', 'Average', 44),
 ('John Marshall Metropolitan High School', 'Average', 51),
 ('John Milton Gregory Elementary School', 'Average', 44),
 ('John P Altgeld Elementary School', 'Average', 48),
 ('John T McCutcheon Elementary School', 'Average', 56),
 ('John Whistler Elementary School', 'Average', 45),
 ('Jonathan Y Scammon Elementary School', 'Average', 44),
 ('Jose De Diego Elementary Community Academy', 'Average', 57),
 ('Joseph Brennemann Elementary School', 'Average', 50),
 ('Josephine C Locke Elementary School', 'Average', 57),
 ('Joseph Kellman Corporate Community Elementary School', 'Average', 58),
 ('Joseph Lovett Elementary School', 'Average', 43),
 ('Josiah Pickard Elementary School', 'Average', 50),
 ('Laughlin Falconer Elementary School', 'Average', 54),
 ('Lionel Hampton Fine & Performing Arts Elementary School', 'Average', 42),
 ('Little Village Elementary School', 'Average', 45),
 ('Logandale Middle School', 'Average', 56),
 ('Lorenz Brentano Math & Science Academy Elementary School', 'Average', 57),
 ('Louis A Agassiz Elementary School', 'Average', 53),
 ('Louis Armstrong Math & Science Elementary School', 'Average', 42),
 ('Louis Nettelhorst Elementary School', 'Average', 58),
 ('Louis Pasteur Elementary School', 'Average', 50),
 ('Ludwig Van Beethoven Elementary School', 'Average', 40),
 ('Lyman A Budlong Elementary School', 'Average', 59),
 ('Lyman Trumbull Elementary School', 'Average', 56),
 ('Manley Career Academy High School', 'Average', 41),
 ('Manuel Perez Elementary School', 'Average', 45),
 ('Marcus Moziah Garvey Elementary School', 'Average', 50),
 ('Mariano Azuela Elementary School', 'Average', 54),
 ('Marie Sklodowska Curie Metropolitan High School', 'Average', 43),
 ('Marine Military Math and Science Academy', 'Average', 41),
 ('Martha Ruggles Elementary School', 'Average', 43),
 ('Martin A Ryerson Elementary School', 'Average', 40),
 ('Marvin Camras Elementary School', 'Average', 54),
 ('Mary Lyon Elementary School', 'Average', 55),
 ('Mary Mapes Dodge Elementary Renaissance Academy', 'Average', 57),
 ('Mary McLeod Bethune Elementary School', 'Average', 53),
 ('Mason High School', 'Average', 50),
 ('Matthew Gallistel Elementary Language Academy', 'Average', 49),
 ('Miriam G Canter Middle School', 'Average', 57),
 ('Morgan Park High School', 'Average', 40),
 ('Morton School of Excellence', 'Average', 53),
 ('Multicultural Academy of Scholarship', 'Average', 48),
 ('Nathan Hale Elementary School', 'Average', 55),
 ('Nathaniel Pope Elementary School', 'Average', 48),
 ('Nathan R Goldblatt Elementary School', 'Average', 49),
 ('Nathan S Davis Elementary School', 'Average', 43),
 ('Neal F Simeon Career Academy High School', 'Average', 52),
 ('Near North Elementary School', 'Average', 50),
 ('Newton Bateman Elementary School', 'Average', 55),
 ('Nicholas Senn High School', 'Average', 48),
 ('Nicholson Technology Academy', 'Average', 48),
 ('North-Grand High School', 'Average', 42),
 ('Ogden International High School', 'Average', 56),
 ('Orozco Fine Arts & Sciences Elementary School', 'Average', 55),
 ('Patrick Henry Elementary School', 'Average', 45),
 ('Paul Cuffe Math-Science Technology Academy Elementary School', 'Average', 51),
 ('Pershing West Middle School', 'Average', 46),
 ('Phoenix Military Academy High School', 'Average', 53),
 ('Pilsen Elementary Community Academy', 'Average', 43),
 ('Ravenswood Elementary School', 'Average', 46),
 ('Richard Edwards Elementary School', 'Average', 48),
 ('Richard Henry Lee Elementary School', 'Average', 59),
 ('Richard J Oglesby Elementary School', 'Average', 44),
 ('Richard T Crane Technical Preparatory High School', 'Average', 43),
 ('Richard Yates Elementary School', 'Average', 42),
 ('Roald Amundsen High School', 'Average', 51),
 ('Robert Fulton Elementary School', 'Average', 46),
 ('Robert Nathaniel Dett Elementary School', 'Average', 48),
 ('Roberto Clemente Community Academy High School', 'Average', 44),
 ('Rodolfo Lozano Bilingual & International Center Elementary Schoo', 'Average', 55),
 ('Rudyard Kipling Elementary School', 'Average', 52),
 ('Salmon P Chase Elementary School', 'Average', 55),
 ('Sidney Sawyer Elementary School', 'Average', 57),
 ('Stephen T Mather High School', 'Average', 58),
 ('Tarkington School of Excellence Elementary School', 'Average', 48),
 ('TEAM Englewood Community Academy High School', 'Average', 45),
 ('Telpochcalli Elementary School', 'Average', 42),
 ('Theodore Herzl Elementary School', 'Average', 41),
 ('Theodore Roosevelt High School', 'Average', 42),
 ('Theophilus Schmid Elementary School', 'Average', 46),
 ('Turner-Drew Elementary Language Academy', 'Average', 56),
 ('Uplift Community High School', 'Average', 50),
 ('Victor Herbert Elementary School', 'Average', 50),
 ('VOISE Academy High School', 'Average', 42),
 ('Washington D Smyser Elementary School', 'Average', 55),
 ('Washington Irving Elementary School', 'Average', 43),
 ('Wells Community Academy High School', 'Average', 51),
 ('William Bishop Owen Scholastic Academy Elementary School', 'Average', 49),
 ('William C Reavis Math & Science Specialty Elementary School', 'Average', 48),
 ('William E B Dubois Elementary School', 'Average', 47),
 ('William F Finkl Elementary School', 'Average', 56),
 ('William H King Elementary School', 'Average', 47),
 ('William H Seward Communication Arts Academy Elementary School', 'Average', 40),
 ('William J & Charles H Mayo Elementary School', 'Average', 52),
 ('William P Gray Elementary School', 'Average', 57),
 ('William P Nixon Elementary School', 'Average', 52),
 ('Williams Preparatory Academy Middle School', 'Average', 49),
 ('Wolfgang A Mozart Elementary School', 'Average', 41),
 ('World Language Academy High School', 'Average', 51)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [73]:
%sql select community_area_name, percent_households_below_poverty from census_data order by percent_households_below_poverty desc limit 5

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [72]:
%sql select community_area_number,count(case_number) as no_of_cases from CHICAGO_CRIME_DATA\
group by community_area_number order by no_of_cases desc limit 1

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[(25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [44]:
%sql select community_area_name from census_data where hardship_index = (select max(hardship_index)from census_data)

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [77]:
%sql select community_area_name from census_data where\
community_area_number = (select community_area_number from (select * from (select community_area_number, count(community_area_number)\
as crimes_in_community from chicago_crime_data group by community_area_number))where\
crimes_in_community =(select max(crimes_in_community) from (select community_area_number, count(community_area_number) as\
                                                            crimes_in_community from chicago_crime_data group by community_area_number)));

 * ibm_db_sa://pkr18291:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb
Done.

[('Austin',)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-11-17 | 2.6     | Lakshmi           | Updated library                                |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>